altgraph==0.17.4
asgiref==3.9.2
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
Django==5.2.7
Flask==3.0.3
fonttools==4.50.0
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.3
networkx==3.2.1
numpy==1.26.4
packaging==24.0
pefile==2024.8.26
pillow==10.2.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pywin32-ctypes==0.2.3
requests==2.32.3
six==1.16.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.2.2
Werkzeug==3.0.4
